body{
    background-color: rgb(0, 0, 0);
}

.container{
    
    font-family: Arial, Helvetica, sans-serif;
}

.timer{
    margin-top: 50px;
    color: aliceblue;
    font-size: 150px;
    display: flex;
    justify-content: center;

}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    padding: 80px;
    border-bottom: 2px solid rgb(32, 31, 31);

}

.buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 30px;
    
}

.StartBtn{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(1, 56, 25);
    color: forestgreen;
    border: none;
}

.LapBtn{
    border-radius: 50%;
    background-color:rgb(58, 56, 56);
    border:none;
    color: aliceblue;
}

.StartBtn:hover{
    border: solid white 1px;
}

.LapBtn:hover{
    border: solid white 1px;
}

.timeStarted{
    background-color: rgb(44, 2, 2);
    color: rgb(255, 0, 0);
}
